---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<figure>
  <img src="{{ base_path }}/images/poster_MLice.jpeg"
       alt="Lauren Hoffman presenting a research poster titled 'Machine learning is a useful tool to predict and understand sea-ice motion in the Arctic' to attendees at a conference poster session"
       style="width: 100%; height: auto;">
  <figcaption>Presenting work on machine learning for Arctic sea-ice motion.</figcaption>
</figure>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
