---
layout: main
title: Home
---
<div class="columns is-vcentered">
      <div class="column is-one-fifth content">
        <figure class="image">
          <img src="/assets/images/home.png">
        </figure>
      </div>
      <div class="column is-three-fifths content">
        <h1>{{ site.title }}</h1>
        {% capture description %}{% include description.md %}{% endcapture %}
        {{ description | markdownify }}
        <h4>Contact</h4>
        {% capture contact %}{% include contact.md %}{% endcapture %}
        {{ contact | markdownify }}
      </div>
			<div class="column is-two-fifth content">
				<div class="has-text-centered content">
					<h2>News</h2>
						</div>
							{% assign news = site.news | sort: 'date' | reverse %}
							{% for entry in news limit:3 %}
								<div class="has-text-centered content">
									<h4><a href="{{ entry.url }}">{{ entry.date | date_to_string }} - {{ entry.title }}</a></h4>
								</div>
								<div class="has-text-left content">
									<p>{{ entry.excerpt | markdownify }}</p>
								</div>
							{% endfor %}
				</div>
			</div>
</div>

