<div class="grid">
  {% for project in site.data.projects %}
  <div class="project-card">
    <h2 class="project-title">{{ project.title }}</h2>
    <p class="project-subtitle">{{ project.subtitle }}</p>

    {% for section in project.sections %}
    <details class="section-details">
      <summary>{{ section.name }}</summary>

      {% assign lines = section.content | newline_to_br | split: "<br />" %}
      <div class="section-content">
        {% for line in lines %}
        <span class="section-line">
          {{ line | remove: '-' | remove: '[' | remove: ']' }}
        </span>
        {% endfor %}
      </div>
    </details>
    {% endfor %}

    <a href="{{ project.read_more_url }}" class="read-more-button">Read more</a>

    <img src="{{ project.image }}" alt="{{ project.title }} image" class="project-image">
  </div>
  {% endfor %}
</div>
