
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
  font-family: 'Spectral', serif;
  background-color: #f0f0f0; /* light background */
  color: #333; /* Dark color for text for contrast */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif; /* Ensure headers use the Spectral font */
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px 4px;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.bg-sky-100 {
  background-color: #e0f7fa; /* Sky color */
}

.bg-green-100 {
  background-color: #c8e6c9; /* Green color */
}

.bg-purple-100 {
  background-color: #e1bee7; /* Purple color */
}

.current {
  color: green;
}
