
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
  font-family: 'Spectral', serif !important;
  background-color: #f0f0f0 !important; /* light background */
  color: #615f5f !important; /* Dark color for text for contrast */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif; /* Ensure headers use the Spectral font */
  color: #363535 !important; /* Dark color for text for contrast */
}

nav {
  background-color: #f0f0f0; /* Light background for navigation */
  width: 100%; /* Ensure the navigation bar covers the entire width */
  padding: 15px 0; /* Padding for better appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for some depth */
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px 4px;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #70a173; /* Darker green on hover */
}

.bg-sky-100 {
  background-color: #e0f7fa; /* Sky color */
}

.bg-green-100 {
  background-color: #c8e6c9; /* Green color */
}

.bg-purple-100 {
  background-color: #e1bee7; /* Purple color */
}

.current {
  color: green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column by default */
  gap: 1.5rem; /* Space between items */

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
  }
}

.project-card {
  background-color: white; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px); /* Slight hover effect */
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.section-details {
  margin-bottom: 10px;
}

.section-content {
  margin-top: 10px;
}

.section-line {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #333;
}

.read-more-button {
  display: block;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.read-more-button:hover {
  background-color: #0056b3;
}

.project-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}
