@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
  font-family: 'Spectral', serif;
  background-color: #fff; /* light background */
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px 4px;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  background-color: #0056b3;
}

.current {
  color: green;
}
